:root{
  --link-color: #000;
  --border-radius: 4px;
}
* {
  box-sizing: border-box;
}
body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  padding: 5px 5px 20px;
}
main {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto
}
article {
  max-width: 650px;
  margin: 0 auto;
}
.selectable {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.selectable-all {
  -webkit-touch-callout: all; /* iOS Safari */
  -webkit-user-select: all; /* Safari */
  -khtml-user-select: all; /* Konqueror HTML */
  -moz-user-select: all; /* Old versions of Firefox */
  -ms-user-select: all; /* Internet Explorer/Edge */
  user-select: all; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
p[role=heading]{
  font-size: 1.2em;
  font-weight: bold;
}
ol.protocol{
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.protocol li {
  margin-bottom: 10px;
}
ul.bogpill-link-container li {
  margin: 10px 0;
}
ul.bogpill-link-container li a {
  user-select: none;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}
@media (max-width: 720px) {
  article {
    max-width: 90vw;
  }
  h3 {
    font-size: 1.5em;
    text-align: center;
  }
  p, ol.protocol li {
    font-size: 1.1em;
  }
  p[role=heading] {
    font-size: 1.3em;
  }
  ul.bogpill-link-container {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  ul.bogpill-link-container li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  ul.bogpill-link-container li a {
    width: 80vw;
    font-size: 1.275em;
    text-align: center;
    padding: 10px 15px;
    align-items: center;
  }
}